@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Lato' !important;
}

h1 {
    color: #fff;
    font-size: 80px !important;
    font-family: 'Kaushan Script';
}

h2 {
    color: #fff;
    font-size: 60px !important;
    font-family: 'Kaushan Script';
}

h3 {
    color: #fff;
    font-size: 40px !important;
}

h5, h6 {
    color: #fff;
}

#homeH4 {
    color: rgb(254, 189, 107);
    font-size: 23px !important;
    text-transform: uppercase;
}

.homeParagraph {
    color: rgb(255, 255, 255);
    width: 52%;
    font-size: 20px;
}

/* Navbar */
.NavbarBrand {
    font-size: 25px !important;
    font-family: 'Kaushan Script';
}

.nav-bar {
    background-color: rgb(28, 31, 45);
}

.nav-link {
    font-weight: 600;
}

/* Buttons */
.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px !important;
    font-weight: 400;
    text-decoration: none;
    border-radius: 0px !important;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s; }

.btn-full,
.btn-full:link,
.btn-full:visited,
button[type=submit],
button[type=reset] {
    background-color: #003366 !important;
    border: 1px solid #003366  !important;
    color: #fff !important; }


.btn-full:hover,
.btn-full:active {
    border: 1px solid rgb(254, 189, 107) !important;
    background-color: rgb(254, 189, 107) !important;
    color: #000 !important;
}
    
.btn-ghost,
.btn-ghost:link,
.btn-ghost:visited {
    background-color: transparent !important;
    border: 1px solid rgb(254, 189, 107) !important;
    color: #fff !important; }

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid rgb(254, 189, 107) !important;
    background-color: rgb(254, 189, 107) !important;
    color: #000 !important;
}

.btn-project,
.btn-project:link,
.btn-project:visited
{
    background-color: rgb(254, 189, 107) !important;
    border: 1px solid rgb(254, 189, 107) !important;
    border-radius: 0 !important;
    color: #000 !important; }

.btn-project:hover,
.btn-project:active {
    background-color: transparent !important;
    border: 1px solid rgb(254, 189, 107) !important;
    border-radius: 0 !important;
    color: #fff !important; }


.home {
    min-height: calc(100vh - 150px) !important;
    width: 100%;
    display: flex;
    background-color: rgb(28, 31, 45);;
    align-content: center;
    background-image: linear-gradient(115deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.68) ), url(assets/background.jpeg);
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.contact {
    min-height: calc(100vh - 150px) !important;
    width: 100%;
    display: flex;
    background-color: rgb(28, 31, 45);;
    align-content: flex-start;
    background-image: linear-gradient(115deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.68) ), url(assets/background.jpeg);
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.social-links {
    font-size: 32px !important;
    text-align: right;
}

.social-links-mobile {
    display: none;
}

.card-icon {
    font-size: 40px;
}

.card-img-div {
    max-height: 365px;
    overflow: hidden;
}

.card-title {
    font-size: 20px;
    color:black;
    font-weight: 600;
}

.card-text {
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    color: rgb(50, 50, 50) !important;
}

.row-content {
    padding: 10px;
    align-content: center;
    justify-content: center;
}

.copyright {
    text-align: left;
    display: grid !important;
    align-content: center !important;
}

.form-label {
    font-size: 22px !important;
}

/* Footer */
.site-footer {
    background-color: rgb(41, 45, 72); 
}

.footer-icon {
    color: #fff !important;
}

@media screen and (max-width: 992px) {
    .homeParagraph {
        color: rgb(255, 255, 255) !important;
        width: 90% !important;
        font-size: 18px;
    }
    
    h1 {
        color: #fff;
        font-size: 60px !important;
        font-family: 'Kaushan Script';
    }
    .home {
        min-height: calc(100vh - 150px) !important;
        width: 100%;
        display: grid;
        background-color: rgb(28, 31, 45);;
        align-content: center;
        background-image: linear-gradient(115deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.68) ), url(assets/background.jpeg);
        background-attachment: fixed;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
    }
    #homeH4 {
        color: rgb(254, 189, 107);
        font-size: 18px !important;
    }
    .copyright {
        text-align: center;
    }

    .social-links {
        font-size: 30px !important;
        padding-top: 5px;
        text-align: center;
    }

    .navbar-social-links {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .home {
        min-height: calc(100vh - 180px) !important;
        width: 100%;
        display: grid;
        background-color: rgb(28, 31, 45);;
        align-content:center;
        padding-bottom: 20px;
        background-image: linear-gradient(115deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.68) ), url(assets/background.jpeg);
        background-attachment: fixed;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
    }
    .homeParagraph {
        color: rgb(255, 255, 255) !important;
        width: 100% !important;
        font-size: px;
        text-align: left;
    }
    h1 {
        color: #fff;
        font-size: 55px !important;
        font-family: 'Kaushan Script';
        text-align: left;
    }
    #homeH4 {
        color: rgb(254, 189, 107);
        font-size: 20px !important;
        text-align: left !important;
        text-transform: capitalize;
    }
    .social-links {
    font-size: 30px !important;
    text-align: center;
}
}

@media screen and (max-width: 576px) {
    .home {
        min-height: calc(100vh - 130px) !important;
        width: 100%;
        display: flex;
        background-color: rgb(28, 31, 45);;
        background-image: linear-gradient(115deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.68) ), url(assets/background.jpeg);
        background-attachment:scroll;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
    }
    .contact {
        min-height: calc(100vh - 130px) !important;
        width: 100%;
        display: flex;
        background-color: rgb(28, 31, 45);;
        background-image: linear-gradient(115deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.68) ), url(assets/background.jpeg);
        background-attachment:scroll;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
    }
    .homeParagraph {
        color: rgb(255, 255, 255) !important;
        width: 100% !important;
        font-size: 18px;
        text-align: center;
    }
    h1 {
        padding-top: 25px;
        color: #fff;
        font-size: 44px !important;
        font-family: 'Kaushan Script';
        text-align: center;
    }
    #homeH4 {
        color: rgb(254, 189, 107);
        font-size: 20px !important;
        text-align: center !important;
        text-transform: none !important;
    }
    .row-content {
        padding: 0px !important;
        align-content: center;
        justify-content: center;
    }
    .btn,
    .btn:link,
    .btn:visited {
        display: inline-block;
        padding: 10px 15px !important;
        font-weight: 400;
        text-decoration: none;
        border-radius: 0px !important;
        -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
        transition: background-color 0.2s, border 0.2s, color 0.2s; 
    }
    .social-links-mobile {
        display: flex;
        justify-content: space-around;
        font-size: 35px;
        padding-top: 50px !important;
    }
    .mobileCenter {
        display: flex !important;
        justify-content: center !important;
    }
}