@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Lato' !important;
}

h1 {
    color: #fff;
    font-size: 80px !important;
    font-family: 'Kaushan Script';
}

h2 {
    color: #fff;
    font-size: 60px !important;
    font-family: 'Kaushan Script';
}

h3 {
    color: #fff;
    font-size: 40px !important;
}

h5, h6 {
    color: #fff;
}